{
	auto_https off
	admin off
	log {
		format filter {
			wrap json
			fields {
				request>uri delete
			}
		}
	}
}

:80 {
	encode gzip

	handle /evalscope-api/* {
		reverse_proxy api:8000
	}

	handle_path /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
