{
	auto_https off
	admin off
}

:80 {
	encode gzip

	@api path /health /version /capabilities /openapi.json /v1/* /v2/*
	handle @api {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
